h4 Student Details
  table(width='800px')
    tr
      td(width='200px')
        a(href='/') Home
      td(width='200px')
        a(href='/add') Add
      td(width='200px')
        a(href='/list') Show 
      td(width='200px')
        a(href='/search') Search
      td(width='200px')
        a(href='/delete') Delete